<!DOCTYPE html>
<head>
	<meta charset="utf8"/>
	<script src="scripts/jquery.min.js"></script>
	<script src="scripts/jquery.timeago.js"></script>
	<script src="scripts/jquery.livequery.js"></script>
  <script src="scripts/underscore/underscore-min.js"></script>
  <script src="scripts/backbone/backbone.js"></script>
	<script src="scripts/backbone/backbone.nopersistence.js"></script>
	<script type="text/template" id="tweet-template">
		<div class="avatar"><a class="<%= avatar %>"></a></div>
		<div class="content">
			<div class="name"><%= name %></div>
			<div class="message"><%= message.replace(/\n/g, '<br />') %></div>
		</div>
		<div class="date"><time class="timeago" datetime="<%= new Date(timestamp).toISOString() %>"><%= timestamp %></time></div>
		<ul class="actions">
			<li><a href="#" class="reply">Reply</a></li>
			<li><a href="#" class="favorite">Favorite</a></li>
			<li><a href="#" class="delete">Delete</a></li>
		</ul>
		</div>
	</script>
	<script src="scripts/vstwitter.js"/></script>
	<link rel="stylesheet" href="styles/style.css"/>
	<title>vs.twitter</title>

</head>
<body>
	<div id="app">
		<h1>vs.twitter</h1>
		<div id="user-box">
			<input type="text" class="username" name="username" placeholder="username"/>
			<div class="avatars">
				<a class="anivia selected" data-value="anivia">anivia</a>
				<a class="ashe" data-value="ashe">ashe</a>
				<a class="twistedfate" data-value="twistedfate">twistedfate</a>
			</div>
		</div>
		<div id="tweet-box">
			<textarea id="tweet-message" placeholder="Enter a message"></textarea>
			<footer class="actions">
				<span id="tweet-count"></span>
				<button class="submit">Submit</button>
			</footer>
		</div>
		<ul id="tweets-container">
		</ul>
		<footer>
			Created <time class="timeago" datetime="2012-07-29 22:06:00">July 29th 2012</time>
		</footer>
	</div>
</body>
</html>