@import "compass/reset";
@import "compass/utilities/general/clearfix";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/background-size";


$color-black: #000000;
$color-white: #ffffff;
$color-white-smoke: #F5F5F5;
$color-light-gray: #CCCCCC;
$color-medium-gray: #D1D1D1;
$color-dark-gray: #333333;
$color-light-green: #E6EFC2;
$color-green: #529214;
$color-gold: #FFDB4C;

$h1-shadow: $color-light-gray;

$body-background: $color-medium-gray;
$body-text: rgba(0, 0, 0, .5);
$app-border: $color-medium-gray;
$app-background: $color-white;
$app-shadow: $color-dark-gray;

$user-box-avatar-border: $color-medium-gray;
$user-box-avatar-border-selected: $color-gold;
$user-box-edit-shadow: $color-medium-gray;

$button-background: $color-white-smoke;
$button-border: $color-light-gray;
$button-text: $color-green;
$button-background-hover: $color-light-green;

$tweet-box-submit-background: $color-white-smoke;
$tweet-box-submit-border: $color-light-gray;
$tweet-box-submit-text: $color-green;
$tweet-box-submit-text-disabled: $color-medium-gray;
$tweet-box-submit-background-hover: $color-light-green;

$tweet-name-text: $color-black;
$tweet-bottom-border: $color-dark-gray;

@mixin avatars {
	&.anivia {background-image: url('../images/anivia.jpg');}
	&.ashe, &.default {background-image: url('../images/ashe.jpg');}
	&.twistedfate {background-image: url('../images/twistedfate.jpg');}
}

@mixin button {
	@include border-radius(2px);

	padding: 5px 8px;
	background: $button-background;
	border: 1px solid $button-border;
	color: $button-text;
	font-size: 12px;
	font-weight: bold;
	cursor: pointer;
	
	&:hover {
		background-color: $button-background-hover;
	}
}

body {
	font-family: Helvetica, Arial, san-serif;
	color: $body-text;
	font-size: 1.0em;
	line-height: 1.2em;
	background-color: $body-background;
}

h1 {
	font-size: 1.8em;
	line-height: 2.0em;
	text-shadow: 0px 1px 1px $h1-shadow;
}

h2 {
	font-size: 1.6em;
	line-height: 1.8em;
}

#app {
	@include border-radius(5px);
	@include box-shadow($app-shadow 1px 1px 1px);
	
	background-color: $app-background;
	border: 1px solid $app-border;
	margin: 0 auto;
	padding: 10px;
	width: 400px;
}

#tweets-container {
	margin: 0 -10px;
	
	li.tweet {
		@include clearfix;
		position: relative;
		padding: 10px 10px 10px 80px;
		border-bottom: 1px solid $tweet-bottom-border;
	
		.avatar {
			position: absolute;
			left: 20px;
			top: 10px;
			
			a {
				@include avatars;
				@include border-radius(5px);
				@include background-size(contain);
				border: 1px solid #000;
				width: 48px;
				height: 48px;
				background-position: 50% 50%;
				display: block;
			}
		}
		
		.content {
			.name {
				font-weight: bold;
			}
			
			.message {
				font-size: 0.9em;
				word-wrap: break-word;
			}
		}
		
		.date {
			position: absolute;
			top: 10px;
			right: 30px;
			font-size: 12px;
		}
		
		.actions {
			margin: 10px 0 0;
			
			li {
				list-style-type: none;
				float: left;
				padding: 0 5px 5px 0;
				font-size: 14px;
			}
		}
		
		a.favorite {
			position: absolute;
			top: 10px;
			right: 10px;
			background-image: url('../images/star4.png');
			width: 19px;
			height: 19px;
			display: block;
			text-indent: -10000px;
			
			&.on {
				background-image: url('../images/star-lit4.png');
			}
		}
	}
	
	.tweet:last-child {
		border: none;
	}
}

#user-box {
	@include clearfix;
	position: relative;
	padding: 5px 10px;
	font-size: 14px;
	
	.display-user {
		@include clearfix;
	
		.avatar {
			a {
				@include avatars;
				@include border-radius(5px);
				@include background-size(contain);
		
				float: left;
				display: inline-block;
				width: 32px;
				height: 32px;
				margin-right: 1px;
				cursor: pointer;
				text-indent: -10000px;
			}
		}
		
		.username {
			float: left;
			margin: 5px 0 0 5px;
		}
		
		.open-edit {
			display: none;
			margin: 5px 0 0 3px;
		}
		
		&:hover {
			.open-edit {
				display: inline-block;
			}
		}
	}

	.edit-user {
		@include clearfix;
		@include box-shadow($user-box-edit-shadow 1px 1px 1px);
		
		border: 1px solid #000;
		padding: 10px;
		margin: 5px 0 0;
	
		fieldset {
			@include clearfix;
			margin-bottom: 10px;
			
			label {
				float: left;
				width: 100px;
				text-align: right;
			}
		
			.values {
				float: left;
				margin-left: 10px;
				
				.username {
					height: 20px;
				}
				
				.avatars {
				
					list-style-type: none;
					
					li {
						float: left;
						margin-right: 2px;
					
						a {
							@include avatars;
							@include border-radius(5px);
							@include background-size(contain);
							border: 3px solid $user-box-avatar-border;

							display: inline-block;
							width: 32px;
							height: 32px;
							margin-right: 1px;
							cursor: pointer;
							text-indent: -10000px;
							
							&.selected {
								border: 3px solid $user-box-avatar-border-selected;
							}
						}
					}
				}
			}
		}
		
		.actions {
			text-align: right;
			
			.save {
				@include button;
			}
		}
	}
}

#tweet-box {
	padding: 10px;

	#tweet-message {
		width: 373px;
		height: 50px;
		font-size: 0.8em;
		max-width: 373px;
		max-height: 100px;
	}
	
	footer {
		margin: 10px 0 0;
		text-align: right;
		
		#tweet-count {
			font-size: 14px;
			margin: 0 5px 0;
		}
		
		.submit {
			@include border-radius(2px);
		
			padding: 5px 8px;
			background: $tweet-box-submit-background;
			border: 1px solid $tweet-box-submit-border;
			color: $tweet-box-submit-text;
			font-size: 12px;
			font-weight: bold;
			cursor: pointer;
			
			&:hover {
				background-color: $tweet-box-submit-background-hover;
			}
			
			&:disabled {
				color: $tweet-box-submit-text-disabled;
				
				&:hover {
					background: $tweet-box-submit-background;
				}
			}
		}
	}
}

