/* line 17, ../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../../Applications/Scout.app/Contents/Resources/vendor/gems/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 75, style.scss */
body {
  font-family: Helvetica, Arial, san-serif;
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.0em;
  line-height: 1.2em;
  background-color: #d1d1d1;
}

/* line 83, style.scss */
h1 {
  font-size: 1.8em;
  line-height: 2.0em;
}

/* line 88, style.scss */
h2 {
  font-size: 1.6em;
  line-height: 1.8em;
}

/* line 93, style.scss */
#wrap {
  margin: 0 auto;
  width: 420px;
}

/* line 99, style.scss */
header h1 {
  text-shadow: 0px 1px 1px #f5f5f5;
  font-family: Arial, san-serif;
  font-weight: bold;
  color: #333333;
}

/* line 107, style.scss */
#app {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: #333333 1px 1px 1px;
  -webkit-box-shadow: #333333 1px 1px 1px;
  -o-box-shadow: #333333 1px 1px 1px;
  box-shadow: #333333 1px 1px 1px;
  background-color: white;
  padding: 10px;
}

/* line 115, style.scss */
footer {
  margin: 10px 0;
  text-align: center;
  font-size: 0.8em;
}
/* line 120, style.scss */
footer a {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
}
/* line 124, style.scss */
footer a:hover {
  text-decoration: underline;
}

/* line 130, style.scss */
#tweets-container {
  margin: 0 -10px;
}
/* line 133, style.scss */
#tweets-container li.tweet {
  overflow: hidden;
  *zoom: 1;
  position: relative;
  padding: 10px 10px 10px 70px;
  border-top: 1px solid #d1d1d1;
}
/* line 139, style.scss */
#tweets-container li.tweet .avatar {
  position: absolute;
  left: 10px;
  top: 10px;
}
/* line 144, style.scss */
#tweets-container li.tweet .avatar a {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  -moz-background-size: contain;
  -webkit-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  border: 1px solid #000;
  width: 48px;
  height: 48px;
  background-position: 50% 50%;
  display: block;
}
/* line 54, style.scss */
#tweets-container li.tweet .avatar a.anivia {
  background-image: url("../images/anivia.jpg");
}
/* line 55, style.scss */
#tweets-container li.tweet .avatar a.ashe, #tweets-container li.tweet .avatar a.default {
  background-image: url("../images/ashe.jpg");
}
/* line 56, style.scss */
#tweets-container li.tweet .avatar a.twistedfate {
  background-image: url("../images/twistedfate.jpg");
}
/* line 157, style.scss */
#tweets-container li.tweet .content .name {
  font-weight: bold;
}
/* line 161, style.scss */
#tweets-container li.tweet .content .message {
  font-size: 0.9em;
  word-wrap: break-word;
}
/* line 167, style.scss */
#tweets-container li.tweet .date {
  position: absolute;
  top: 10px;
  right: 30px;
  font-size: 12px;
}
/* line 174, style.scss */
#tweets-container li.tweet .actions {
  margin: 10px 0 0;
}
/* line 177, style.scss */
#tweets-container li.tweet .actions li {
  list-style-type: none;
  float: left;
  padding: 0 10px 0 0;
  font-size: 14px;
}
/* line 183, style.scss */
#tweets-container li.tweet .actions li a {
  font-size: 0.9em;
  color: #1155cc;
  text-decoration: none;
}
/* line 188, style.scss */
#tweets-container li.tweet .actions li a:hover {
  text-decoration: underline;
}
/* line 195, style.scss */
#tweets-container li.tweet a.favorite {
  position: absolute;
  top: 10px;
  right: 10px;
  background-image: url("../images/star4.png");
  width: 19px;
  height: 19px;
  display: block;
  text-indent: -10000px;
}
/* line 205, style.scss */
#tweets-container li.tweet a.favorite.on {
  background-image: url("../images/star-lit4.png");
}
/* line 211, style.scss */
#tweets-container .tweet:first-child {
  margin-top: 10px;
}

/* line 216, style.scss */
#user-box {
  overflow: hidden;
  *zoom: 1;
  position: relative;
  font-size: 14px;
}
/* line 221, style.scss */
#user-box .display-user {
  overflow: hidden;
  *zoom: 1;
}
/* line 225, style.scss */
#user-box .display-user .avatar a {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  -moz-background-size: contain;
  -webkit-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  float: left;
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-right: 1px;
  cursor: pointer;
  text-indent: -10000px;
}
/* line 54, style.scss */
#user-box .display-user .avatar a.anivia {
  background-image: url("../images/anivia.jpg");
}
/* line 55, style.scss */
#user-box .display-user .avatar a.ashe, #user-box .display-user .avatar a.default {
  background-image: url("../images/ashe.jpg");
}
/* line 56, style.scss */
#user-box .display-user .avatar a.twistedfate {
  background-image: url("../images/twistedfate.jpg");
}
/* line 240, style.scss */
#user-box .display-user .username {
  float: left;
  margin: 5px 0 0 5px;
  font-weight: bold;
  cursor: pointer;
}
/* line 247, style.scss */
#user-box .display-user .open-edit {
  display: none;
  margin: 5px 0 0 3px;
}
/* line 253, style.scss */
#user-box .display-user:hover .open-edit {
  display: inline-block;
}
/* line 259, style.scss */
#user-box .edit-user {
  overflow: hidden;
  *zoom: 1;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #cccccc;
  padding: 10px;
}
/* line 266, style.scss */
#user-box .edit-user fieldset {
  overflow: hidden;
  *zoom: 1;
  margin-bottom: 10px;
}
/* line 270, style.scss */
#user-box .edit-user fieldset label {
  float: left;
  width: 100px;
  text-align: right;
  font-weight: bold;
}
/* line 277, style.scss */
#user-box .edit-user fieldset .values {
  float: left;
  margin-left: 10px;
}
/* line 281, style.scss */
#user-box .edit-user fieldset .values .username {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #d1d1d1;
  -webkit-appearance: textfield;
  padding: 0 5px;
  height: 20px;
}
/* line 289, style.scss */
#user-box .edit-user fieldset .values .avatars {
  list-style-type: none;
}
/* line 293, style.scss */
#user-box .edit-user fieldset .values .avatars li {
  float: left;
  margin-right: 2px;
}
/* line 297, style.scss */
#user-box .edit-user fieldset .values .avatars li a {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  -moz-background-size: contain;
  -webkit-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  border: 3px solid #d1d1d1;
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-right: 1px;
  cursor: pointer;
  text-indent: -10000px;
}
/* line 54, style.scss */
#user-box .edit-user fieldset .values .avatars li a.anivia {
  background-image: url("../images/anivia.jpg");
}
/* line 55, style.scss */
#user-box .edit-user fieldset .values .avatars li a.ashe, #user-box .edit-user fieldset .values .avatars li a.default {
  background-image: url("../images/ashe.jpg");
}
/* line 56, style.scss */
#user-box .edit-user fieldset .values .avatars li a.twistedfate {
  background-image: url("../images/twistedfate.jpg");
}
/* line 310, style.scss */
#user-box .edit-user fieldset .values .avatars li a.selected {
  border: 3px solid #ffdb4c;
}
/* line 319, style.scss */
#user-box .edit-user .actions {
  text-align: right;
}
/* line 322, style.scss */
#user-box .edit-user .actions .save {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
  padding: 5px 8px;
  background: #f5f5f5;
  border: 1px solid #cccccc;
  color: #529214;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}
/* line 70, style.scss */
#user-box .edit-user .actions .save:hover {
  background-color: #e6efc2;
}

/* line 329, style.scss */
#tweet-box {
  padding: 10px 0;
}
/* line 332, style.scss */
#tweet-box #tweet-message {
  width: 393px;
  height: 50px;
  font-size: 0.8em;
  max-width: 393px;
  max-height: 100px;
}
/* line 340, style.scss */
#tweet-box footer {
  margin: 10px 0 0;
  text-align: right;
}
/* line 344, style.scss */
#tweet-box footer #tweet-count {
  font-size: 14px;
  margin: 0 5px 0;
}
/* line 349, style.scss */
#tweet-box footer .submit {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
  padding: 5px 8px;
  background: #f5f5f5;
  border: 1px solid #cccccc;
  color: #529214;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}
/* line 70, style.scss */
#tweet-box footer .submit:hover {
  background-color: #e6efc2;
}
/* line 352, style.scss */
#tweet-box footer .submit:disabled {
  color: #d1d1d1;
}
/* line 355, style.scss */
#tweet-box footer .submit:disabled:hover {
  background: #f5f5f5;
}
